{% extends "base.html" %}

{% block content %}

<h1>Signup</h1>
<form method="post">
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input id="username" type="text" name="username"/>
                <span class="error">{{error}}</span>    
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input id="password" type="password" name="password"/>
                <span class="error">{{error}}</span>
            </td>
        </tr>
        <tr>
            <td><label for="verify">Verify Password</label></td>
            <td>
                <input id="verify" type="password" name="verify"/>
                <span class="error">{{error}}</span>
            </td>
        </tr>
        <tr>
            <td><label for="email">Email(optional)</label></td>
            <td>
                <input id="email" type="text" name="email"/>
                <span class="error">{{error}}</span>
            </td>
        </tr>
    </table>
    <input type="submit" value="Submit Query"/>
</form>

{% endblock %}